{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="row cor ">
			<div class="col-sm-8">
				<img class="img-responsive tamanho" src="{% static 'imagens/loucos2.png'%}">
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-6">
								<img class="img-responsive mud4 direita" src="{% static 'imagens/akivo.png'%}">
							</div>
							<div class="col-lg-6">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    <img class="img-responsive seta" src="{% static 'imagens/seta.png'%}"></a>
							    <ul class="dropdown-menu">
							      <li><a href="{% url 'vendas' %}">Venda</a></li>
							      <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
							      <li><a href="#">Sair</a></li> 
							    </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="row cores">
			<div class="col-sm-12">
				<div class="row meior">
					<div class="col-sm-2 cor5">
						<a href="{% url 'index' %}"><img class="img-responsive mud2" src="{% static 'imagens/home.png'%}"></a>
					</div>
					<div class="col-sm-2 cor2">
						<a href="{% url 'cardapio' %}"><img class="img-responsive mud2" src="{% static 'imagens/menu.png'%}"></a>
					</div>
					<div class="col-sm-2 cor3">
						<a href="{% url 'sobreNos' %}"><img class="img-responsive mud2" src="{% static 'imagens/sobre.png'%}"></a>
					</div>
					<div class="col-sm-2 cor4">
						<a href="{% url 'contato' %}"><img class="img-responsive mud2" src="{% static 'imagens/cb.png'%}"></a>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			<div class="borda2">
				<img class="img-responsive centralizar tama" src=" {% static 'imagens/icon.png' %}"><h2>Cadastro de Clientes</h2>
				<div class="linha2"></div>
				<form class="form-horizontal mei">
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="cpf">Cpf:</label>
				    <div class="col-sm-10">
				      <input type="cpf" class="form-control tam" id="cpf" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="name">Nome:</label>
				    <div class="col-sm-10"> 
				      <input type="name" class="form-control tam" id="nome" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">Endereço:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" id="endereco" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="telefone">Telefone:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" id="telefone" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="login">Login:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" id="login" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="pwd">Senha:</label>
				    <div class="col-sm-10"> 
				      <input type="password" class="form-control tam" id="pwd" placeholder="">
				    </div>
				  </div>
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10 mei2">
				      <div class="checkbox">
				        <label><input type="checkbox"> Cartão Fidelidade</label>
				      </div>
				    </div>
				  </div>
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10 mei3">
				      <button type="submit" class="btn meu">Cadastrar</button>
				    </div>
				  </div>
				</form>
			</div>
		</section>
		<footer class="row cor">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						<img class="img-responsive tamanho2" src="{% static 'imagens/loucos2.png' %}">
					</div>
					<div class="col-sm-4">
						<a href="{% url 'index' %}"><img class="img-responsive mu" src=" {% static 'imagens/homes.png' %}"></a>
						<a href="{% url 'cardapio' %}"><img class="img-responsive mu" src=" {% static 'imagens/menus.png' %}"></a>
						<a href="{% url 'sobreNos' %}"><img class="img-responsive mu" src="{% static 'imagens/bore.png' %}"></a>
						<a href="{% url 'contato' %}"><img class="img-responsive mu" src="{% static 'imagens/contatos.png' %}"></a>
					</div>	
						
					<div class="col-sm-4">
						<div class="row tes">
							<div class="col-sm-2 ">
								<img class="img-responsive dimm " src="{% static 'imagens/icontel.png'%}">
							</div>
							<div class="col-sm-8">
								<p style="color: white">(85) 9 9856-6485</p>
							</div>
						</div>
						<p class="ajuste">Rua Lyberto Rodrigues de Castro Número 676 </p>
						<p class="ajuste">Fortaleza - CE</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
