{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css'%}" media="screen and (max-width: 1000px)">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="row cor ">
			<div class="col-sm-8">
				<img class="img-responsive tamanho mudar" src="{% static 'imagens/loucos2.png'%}">
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
								<a class="dropdown-toggle tis" data-toggle="dropdown" href="#">
							    <img class="img-responsive  direita tis" src="{% static 'imagens/funcionarios.png'%}">
							    <ul class="dropdown-menu seta2">
							      <li><a href="{% url 'vendasGeren' %}">Venda</a></li>
							      <li><a href="{% url 'cadastroGeren' %}">Cadastro Funcionario</a></li>
							      <li><a href="{% url 'cadastroEstoque' %}">Cadastro Estoque</a></li>
							      <li><a href="{% url 'consultarHistor' %}">Historico</a></li>
							      <li><a href="{% url 'logout' %}">Sair</a></li> 
							    </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="row cores">
			<div class="col-sm-12">
				<div class="row meior">
					<div class="col-sm-2 cor5">
						<a href="{% url 'indexGeren' %}"><img class="img-responsive mud2" src="{% static 'imagens/home.png' %}"></a>
					</div>
					<div class="col-sm-2 cor2">
						<a href="{% url 'cardapioGeren' %}"><img class="img-responsive mud2" src="{% static 'imagens/menu.png' %}"></a>
					</div>
					<div class="col-sm-2 cor3">
						<a href="{% url 'sobreNosGeren' %}"><img class="img-responsive mud2" src="{% static 'imagens/sobre.png' %}"></a>
					</div>
					<div class="col-sm-2 cor4">
						<a href="{% url 'contatoGeren' %}"><img class="img-responsive mud2" src="{% static 'imagens/cb.png' %}"></a>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			<div class="borda2">
				<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" href="#home">Funcionario</a></li>
				  
				</ul>
				
				<div class="tab-content">
				  <div id="home" class="tab-pane fade in active">
				  <a href="{% url 'consultarFunc'%}"><button type="submit" class="btn meu alinhar">Consultar</button></a>
				    <img class="img-responsive centralizar tama" src="{% static 'imagens/akivo.png' %}"><h2>Cadastrar Funcionario</h2>
				<div class="linha2"></div>
				<form action="/gerente/cadastro_funcionario/" method="POST" class="form-horizontal mei">
				{% csrf_token %}

						
				
	
				<fieldset>
  				<legend>Pessoal:</legend>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="cpf">* Cpf:</label>
				    <div class="col-sm-10">
				      <input type="cpf" class="form-control tam" name ="cpf_funcionario" id="cpf" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="name">* Nome:</label>
				    <div class="col-sm-10"> 
				      <input type="name" class="form-control tam" name="nome_funcionario" id="nome" placeholder="">
				    </div>
				  </div>
					<div class="form-group">
				    <label class="control-label col-sm-2" for="name">* Sobrenome:</label>
				    <div class="col-sm-10"> 
				      <input type="name" class="form-control tam" name="sobrenome_funcionario" id="nome" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">* Rua:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="rua_funcionario" id="endereco" placeholder="">
				    </div>
				  </div>
					<div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">complemento:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="complemento_funcionario" id="complemento" placeholder="">
				    </div>
				    </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="numero">* N:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="numero_funcionario" id="numero" placeholder="">
				    </div>
				  </div>
					<div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">* Bairro:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="bairro_funcionario" id="endereco" placeholder="">
				    </div>
				  </div>
					<div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">* Cidade:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="cidade_funcionario" id="endereco" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="cep">* Cep:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="cep_funcionario" id="cep" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="ddd">* DDD:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="ddd_funcionario" id="ddd" placeholder="">
				    </div>
				  </div>
				 <div class="form-group">
				    <label class="control-label col-sm-2" for="telefone">* Telefone:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="telefone_funcionario" id="telefone" placeholder="">
				    </div>
				  </div>
				 
				
				<div class="form-group">
				    <label class="control-label col-sm-2" for="ddd2"> DDD2:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="ddd2_funcionario" id="ddd2" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="telefone2"> Telefone2:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="telefone2_funcionario" id="telefone2" placeholder="">
				    </div>
				  </div>
				 </fieldset>
				  <fieldset>
 				 <legend>Empresa:</legend>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="salario">* Salario:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="salario_funcionario" id="salario" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="periodo">* Periodo de Trabalho:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="periodo_funcionario" id="periodo" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="pwd">Situação:</label>
				    <div class="col-sm-10"> 
				      	  <div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Selecionar
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#" name="ativo">Ativo</a></li>
							    <li><a href="#" name="inativo">Inativo</a></li>
							 </div>
				  </div>
				  </fieldset>
				  <fieldset>
  					<legend>Login:</legend>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="login">* Login:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="login_funcionario" id="login" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="pwd">* Senha:</label>
				    <div class="col-sm-10"> 
				      <input name="senha__funcionario" type="password" class="form-control tam" id="pwd" placeholder="">
				    </div>
				  </div>
					 <div class="form-group">
				    <label class="control-label col-sm-2" for="pwd">* E-mail:</label>
				    <div class="col-sm-10"> 
				      <input type="password" class="form-control tam" name="E-mail_funcionario" id="pwd" placeholder="">
				    </div>
				  </div>
				
				    <div class="form-group">
				    <label class="control-label col-sm-2 al" for="pwd">Tipo: </label>
				    <div class="col-sm-10"> 
				      	  <div class="dropdown">
							  <button class="btn btn-default dropdown-toggle al3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Selecionar
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu al3" aria-labelledby="dropdownMenu1">
							    <li><a href="#" name="ativo">Funcionario</a></li>
							    <li><a href="#" name="inativo">Gerente</a></li>
							 </div>
				  </div>
				  </fieldset>
				
				  
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10 mei3">
				      <button type="submit" class="btn meu">Cadastrar</button>
				    </div>
				  </div>
				</form>
				  </div>
				
				  </div>
				  
			</div>
		</section>
		<footer class="row cor">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						<img class="img-responsive tamanho2" src="{% static 'imagens/loucos2.png' %}">
					</div>
					<div class="col-sm-4">
						<a href="{% url 'indexGeren' %}"><img class="img-responsive mu" src="{% static 'imagens/homes.png'%}"></a>
						<a href="{% url 'cardapioGeren' %}"><img class="img-responsive mu" src="{% static 'imagens/menus.png' %}"></a>
						<a href="{% url 'sobreNosGeren' %}"><img class="img-responsive mu" src="{% static 'imagens/bore.png' %}"></a>
						<a href="{% url 'contatoGeren' %}"><img class="img-responsive mu" src="{% static 'imagens/contatos.png' %}"></a>
					</div>	
						
					<div class="col-sm-4">
						<div class="row tes">
							
							<div class="col-sm-8">
								<p class="vamola" style="color: white">(85) 9 9856-6485</p>
							</div>
						</div>
						<p class="ajuste">Rua Lyberto Rodrigues de Castro Número 676 </p>
						<p class="ajuste">Fortaleza - CE</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>		