{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="row cor ">
			<div class="col-sm-8">
				<img class="img-responsive tamanho" src="{% static 'imagens/loucos2.png'%}">
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-6">
								<img class="img-responsive mud4 direita" src="{% static 'imagens/icon.png'%}">
							</div>
							<div class="col-lg-6">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    <img class="img-responsive seta" src="{% static 'imagens/seta.png'%}"></a>
							    <ul class="dropdown-menu">
							      <li><a href="perfil.html">Perfil</a></li>
							      <li><a href="editeEdicao.html">Editar Perfil</a></li>
							      <li><a href="#">Sair</a></li> 
							    </ul>
							</div>
						</div>
					</div>
					</div>
				</div>
				
			</div>
		</div>
		<nav class="row cores">
			<div class="col-sm-12">
				<div class="row meior">
					<div class="col-sm-2 cor5">
						<a href="indexC.html"><img class="img-responsive mud2" src="{% static 'imagens/home.png'%}"></a>
					</div>
					<div class="col-sm-2 cor2">
						<a href="cardapioC.html"><img class="img-responsive mud2" src="{% static 'imagens/menu.png'%}"></a>
					</div>
					<div class="col-sm-2 cor3">
						<a href="sobreNosC.html"><img class="img-responsive mud2" src="{% static 'imagens/sobre.png'%}"></a>
					</div>
					<div class="col-sm-2 cor4">
						<a href="contatoC.html"><img class="img-responsive mud2" src="{% static 'imagens/cb.png'%}"></a>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			<H2>Contatos</H2>
			<div class="row">
				<div class="col-sm-6">
					<div class="row tes">
							<div class="col-sm-2 ">
								<img class="img-responsive dimm2 " src="{% static 'imagens/iconp.png'%}">

							</div>
							<div class="col-sm-8">
								<p class="letra">(85) 9 9856-6485</p>
							
							</div>
						</div>
						<p class="ajuste2">Rua Lyberto Rodrigues de Castro Número 676 </p>
						<p class="ajuste2">Fortaleza - CE</p>
				</div>
				<div class="col-sm-6 espaco">
					<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15924.458455492271!2d-38.56379164999999!3d-3.7852291!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1488940638470" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</section>
		<footer class="row cor">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						<img class="img-responsive tamanho2" src="{% static 'imagens/loucos2.png'%}">
					</div>
					<div class="col-sm-4">
						<a href="indexC.html"><img class="img-responsive mu" src="{% static 'imagens/homes.png'%}"></a>
						<a href="cardapioC.html"><img class="img-responsive mu" src="{% static 'imagens/menus.png'%}"></a>
						<a href="sobreNosC.html"><img class="img-responsive mu" src="{% static 'imagens/bore.png'%}"></a>
						<a href="contatoC.html"><img class="img-responsive mu" src="{% static 'imagens/contatos.png'%}"></a>
					</div>	
						
					<div class="col-sm-4">
						<div class="row tes">
							<div class="col-sm-2 ">
								<img class="img-responsive dimm " src="{% static 'imagens/icontel.png'%}">
							</div>
							<div class="col-sm-8">
								<p style="color: white">(85) 9 9856-6485</p>
							</div>
						</div>
						<p class="ajuste">Rua Lyberto Rodrigues de Castro Número 676 </p>
						<p class="ajuste">Fortaleza - CE</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>


