{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="row cor ">
			<div class="col-sm-8">
				<img class="img-responsive tamanho" src="{% static 'imagens/loucos2.png'%}">
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-6">
								<img class="img-responsive mud4 direita" src="{% static 'imagens/akivo.png'%}">
							</div>
							<div class="col-lg-6">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							    <img class="img-responsive seta" src="{% static 'imagens/seta.png'%}"></a>
							    <ul class="dropdown-menu">
							      <li><a href="{% url 'vendas' %}">Venda</a></li>
							      <li><a href="{% url 'cadastroFunc' %}">Cadastro</a></li>
							      <li><a href="#">Editar</a></li>
							      <li><a href="{% url 'logout' %}">Sair</a></li> 
							    </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="row cores">
			<div class="col-sm-12">
				<div class="row meior">
					<div class="col-sm-2 cor5">
						<a href="{% url 'indexFunc' %}"><img class="img-responsive mud2" src="{% static 'imagens/home.png'%}"></a>
					</div>
					<div class="col-sm-2 cor2">
						<a href="{% url 'cardapioFunc' %}"><img class="img-responsive mud2" src="{% static 'imagens/menu.png'%}"></a>
					</div>
					<div class="col-sm-2 cor3">
						<a href="{% url 'sobreNosFunc' %}"><img class="img-responsive mud2" src="{% static 'imagens/sobre.png'%}"></a>
					</div>
					<div class="col-sm-2 cor4">
						<a href="{% url 'contatoFunc' %}"><img class="img-responsive mud2" src="{% static 'imagens/cb.png'%}"></a>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			<div class="borda2">
				<img class="img-responsive centralizar tama" src="{% static 'imagens/icon.png'%}"><h2>Editar Cliente</h2>
				<div class="linha2"></div>
				
				<form action="/cliente/perfil/editar/" method="POST" 
				class="form-horizontal mei"> {% csrf_token %}

					

					
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="cpf">* Cpf:</label>
				    <div class="col-sm-10">
				      <input name="editar_cpf_clientes" type="cpf" class="form-control tam" id="cpf" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="name">* Nome:</label>
				    <div class="col-sm-10"> 
				      <input name="editar_nome_clientes" type="text" class="form-control tam" id="nome" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="sbrname">* Sobrenome:</label>
				    <div class="col-sm-10"> 
				      <input name="editar_sobrenome_clientes" type="text" class="form-control tam" id="sbrnome" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="email">* Email:</label>
				    <div class="col-sm-10"> 
				      <input name="editar_email_clientes" type="text" class="form-control tam" id="email" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">* Rua:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="editar_rua_clientes" id="endereco" placeholder="">
				    </div>
				  </div>

					<div class="form-inline geral3"  >
				  <div class="form-group interno " >
				    <label style=""  for="email">* Complemento:</label>
				    <input name="editar_complemento_clientes"  type="email" class="form-control imp5" id="email">
				  </div>
				  <div class="form-group">
				    <label class="lal5" for="pwd">* N°:</label>
				    <input  name="editar_numero_clientes"  type="password" class="form-control imp6" id="pwd">
				  </div>

					<div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">* Bairro:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="editar_bairro_clientes" id="endereco" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="cep">* Cep:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="editar_cep_clientes" id="cep" placeholder="">
				    </div>
				  </div>
					<div class="form-group">
				    <label class="control-label col-sm-2" for="endereco">* Cidade:</label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control tam" name="editar_cidade_clientes" id="endereco" placeholder="">
				    </div>
				  </div>
				  <div class="form-inline geral" >
				  <div class="form-group">
				    <label class="lal" for="email">* DDD:</label>
				    <input0  name="editar_ddd1_clientes" type="email" class="form-control imp" id="email">
				  </div>
				  <div class="form-group">
				    <label class="lal2" for="pwd">* Telefone:</label>
				    <input  name="editar_telefone1_clientes"  type="password" class="form-control imp2" id="pwd">
				  </div>
				 
				</div>
				<div class="form-inline geral2">
				  <div class="form-group">
				    <label class="lal3" for="email"> DDD 2:</label>
				    <input  name="editar_ddd2_clientes" type="email" class="form-control imp3" id="email">
				  </div>
				  <div class="form-group">
				    <label class="lal4" for="pwd"> Telefone 2:</label>
				    <input  name="editar_telefone2_clientes"  type="password" class="form-control imp4" id="pwd">
				  </div>
				 
				</div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="login">* Login:</label>
				    <div class="col-sm-10"> 
				      <input name="editar_login_clientes" type="text" class="form-control tam" id="login" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="pwd">* Senha:</label>
				    <div class="col-sm-10"> 
				      <input name="editar_senha_clientes" type="password" class="form-control tam" id="pwd" placeholder="">
				    </div>
				  </div>
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-10 mei3">
				      <button type="submit" class="btn meu">Cadastrar</button>
				    </div>
				  </div>
				</form>
				</div>
				
			</div>
		</section>
		<footer class="row cor">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						<img class="img-responsive tamanho2" src="{% static 'imagens/loucos2.png'%}">
					</div>
					<div class="col-sm-4">
						<a href="{% url 'indexFunc' %}"><img class="img-responsive mu" src="{% static 'imagens/homes.png'%}"></a>
						<a href="{% url 'cardapioFunc' %}"><img class="img-responsive mu" src="{% static 'imagens/menus.png'%}"></a>
						<a href="{% url 'sobreNosFunc' %}"><img class="img-responsive mu" src="{% static 'imagens/bore.png'%}"></a>
						<a href="{% url 'contatoFunc' %}"><img class="img-responsive mu" src="{% static 'imagens/contatos.png'%}"></a>
					</div>	
						
					<div class="col-sm-4">
						<div class="row tes">
							<div class="col-sm-2 ">
								<img class="img-responsive dimm " src="{% static 'imagens/icontel.png'%}">
							</div>
							<div class="col-sm-8">
								<p style="color: white">(85) 9 9856-6485</p>
							</div>
						</div>
						<p class="ajuste">Rua Lyberto Rodrigues de Castro Número 676 </p>
						<p class="ajuste">Fortaleza - CE</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>


				
			
				
				