@media screen and (min-width: 1000px) {
.cor{
	background-image: linear-gradient(to top, #9933ff,  #1a1a1a 50%, #400080);

}

.cores{
	background-color:  #9933ff;

}

a:hover{
	color: white;
}

.geral{
	margin-left: 9%; 
	margin-bottom: 2%;
}

.lal{
	margin-right: 11%;
}

.imp{
	width: 40%;

}

.lal2{
	margin-left: -9%;
}

.tamanho{
	width: 50%;
	height: 50%;
	float: right;
}

.imp2{
	width: 60%;
}

.lal3{
	margin-right: 10%;
}

.imp3{
	width: 40%;
}

.lal4{
	margin-left: -11%;
}

.imp4{
	width: 60%;
}

.geral{
	margin-left: 9%;
}

.geral3{
	margin-left: 0.5%;
}

.interno{
	width: 60%;
}

.imp5{
	margin-left: 6%;
	 width: 60%;
}

.lal5{
	margin-left: 5%
}
.mud{
	width: 170px;
	height: 40px;
	margin: 0 auto;
	margin-top: 10%;
}

.imp6{
	width: 20%;
}
.alinhamento{
	float: right;
}

.linha{
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: #cccccc;
}

.mud2{
	height: 30%;
	width: 30%;
	margin: 0 auto;
}



.meior{
	margin-left: 33%;
	width: 60%;
	height: 60%;
}

h2{
	text-align: center;
}

.center{
	margin: 0 auto;
	margin-top: 10%;
	height: 80%;
	width: 80%;
}

.tamanho2{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.mud3{
	height: 10%;
	width: 10%;
	margin: 0 auto;
}

.texto{
	text-align: center;
	color: white;
}

.mud4{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-top: 25%;
}

.seta{
	width: 20px;
	height: 20px;
	margin-top: 32%;
}

.direita{
	margin-right: 20%;
	margin-top: 10%;
}
.dim{
	width: 70%;
	margin-left: 25%;
		
}

.borda{
	margin: 0 auto;
	border: 1px solid #cccccc;
	width: 40%;
	margin-top: 10%;
	margin-bottom: 10%;	
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px black;
}

.baixar{
	margin-top: 5%;
}

.afastar{
	margin-left: 22%;
}

.mu{
	width: 20%;
	height: 20%;
	margin: 0 auto;
}

.dimm{
	width: 50%;
	height: 50%;
	float: right;
}

.ajuste{
	text-align: center;
	color: white;
}

.tes{
	margin-left: 25%;
	margin-top: 15%;
}

.centralizar{
	margin: 0 auto;
}

.espaco{
	padding-top: 5%;
	padding-bottom: 5%;
}

.letra{
	font-size: 20px;
}

.dimm2{
	width: 70%;
	height: 70%;
	float: right;
}

.ajuste2{
	text-align: center;
	color: black;
	font-size: 20px;
	margin-top: 5%;
}

.borda2{
	margin: 0 auto;
	border: 1px solid #cccccc;
	width: 80%;
	margin-top: 10%;
	margin-bottom: 10%;	
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px black;
}

.linha2{
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: #cccccc;
}

.tam{
	width: 60%;
}

.mei{
	margin-left: 20%;
}

.mei2{
	margin-left: 30%;
}

.mei3{
	margin-left: 33%;
}

.meu{
	color: white;
	background-color: green; 
}

.tama{
	height: 100px;
	height: 100px;
	margin-bottom: 2%;
	margin-top: 2%;
}

.alinhar{
	float: right;
	margin-right: 0.5%;
}
.alinhar2{
	float: right;
	margin-right: 0.2%;
	margin-top: 0.2%;
}

.borda3{
	margin: 0 auto;
	border: 1px solid #cccccc;
	width: 90%;
	margin-top: 10%;
	margin-bottom: 10%;	
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px black;
}

.diminuirs{
	width: 40%;
}

.diminuirs2{
	width: 80%;
}

.nomes{
	margin-left: 200px;
}

.botao{
	width: 20px;
	height: 20px;
}

.centr{
	text-align: center;
}

h3{
	text-align: center;
	margin-top: 4%;
}

.raro{
	width: 30%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: green;
	color: white;
}

.levar{
	margin-left: 40%;
}

.dis{
	width: 40%;

}

.teste{
	margin: 0 auto;
	margin-left: 38%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.vai{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5%;
}

.vai2{
	width: 80%;
	margin: 0 auto;
	margin-left: 30%;
}

.meio{
	margin-left: 15%;
}

.aumentar{
	height: 500px;
	margin-left: 5%;
}
.aumentar2{
	height: 500px;
	margin-right: 5%;
}

.linha3{
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #cccccc;
}

.meu2{
	color: white;
	background-color: green; 
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 65%;
	margin-bottom: 5%;
}

.tamanho2{
	width: 300px;
	height: 200px;
}

.ajeita{
	text-align: justify;
	margin-left: 5%;
	margin-top: 5%;
}


.ajeita2{
	text-align: justify;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
}
@media screen and (min-width: 20px) {
		.mudar{
			margin-right: 25%;
			margin-left: 50%;

		}
		.mud{
			width: 100px;
			height: 20px;
			margin: 0 auto;
			margin-top: 10%;

		}
		

		.meior{
			margin-right: 22%;
		}
		.dimm{
			width: 10%;
			height: 10%;
			float: right;
		}
		
		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 80px;
			margin-right: 80px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 200%;
			height: 200%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 10px;
		}
		.vamola{
			font-size: 10px;
			margin-left: 35%;
		}
		
		.lin{
			height: 1px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 230px;
			margin-right: 230px;
			background-color: #cccccc;
		}
		.letra{
			text-align: center;
			font-size: 15px;
			margin-left: -8%;
			margin-top: -10%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 15px;
			margin-top: 5%;
			margin-left:5%;
		}
		.frame{
			
			width: -500px;
			height: -500px; 
		}

		.seta2{
		margin-left: 70%;
	}


.mud4{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-top: 25%;
}

.seta{
	width: 20px;
	height: 20px;
	margin-top: 18%;

}

.direita{
	margin-left: 60%;
	width: 60%;
	height: 60%;
}
	

.tis{
	width: 60%;
	height: 60%;
}
}



@media screen and (min-width: 1200px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 140px;
			height: 30px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 15px;
		}
		.vamola{
			font-size: 15px;
			margin-left: 16%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 800px;

		}
		.tras{
			margin-left: 14%;
		}


		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 230px;
			margin-right: 230px;
			background-color: #cccccc;
		}
		.letra{
			font-size: 20px;
			margin-left: -50%;
			margin-top: 10%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 20px;
			margin-top: 5%;
			margin-left: 30%;
		}
		.frame{
			width: 500px;
			height: 300px; 
			margin-left: -2%;
		}
		.mud4{
			width: 60px;
			height: 60px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 20px;
		height: 20px;
		margin-top: 42%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}

@media screen and (min-width: 1400px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 160px;
			height: 30px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 15px;
		}
		.vamola{
			font-size: 15px;
			margin-left: 20%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 800px;

		}
		.tras{
			margin-left: 14%;
		}


		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 230px;
			margin-right: 230px;
			background-color: #cccccc;
		}
		.letra{
			font-size: 20px;
			margin-left: -50%;
			margin-top: 10%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 20px;
			margin-top: 5%;
			margin-left: 30%;
		}
		.mud4{
			width: 80px;
			height: 80px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 20px;
		height: 20px;
		margin-top: 42%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}


@media screen and (min-width: 1500px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 180px;
			height: 40px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 150px;
			margin-right: 150px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 20px;
		}
		.vamola{
			font-size: 20px;
			margin-left: 14%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 1000px;

		}
		.tras{
			margin-left: 6%;
		}


		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 190px;
			margin-right: 190px;
			background-color: #cccccc;
		}
		.letra{
			font-size: 20px;
			margin-left: -50%;
			margin-top: 10%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 20px;
			margin-top: 5%;
			margin-left: 30%;
		}
		.direita{
			width: 30%;
			height: 30%;
		}
		.seta{
		width: 30px;
		height: 30px;
		margin-top: 42%;
		margin-left: -30%;
	}
	.seta2{
		margin-left: 60%;
	}
	
	}


@media screen and (min-width: 1700px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 200px;
			height: 40px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 150px;
			margin-right: 150px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 20px;
		}
		.vamola{
			font-size: 20px;
			margin-left: 20%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 1000px;

		}
		.tras{
			margin-left: 6%;
		}


		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 190px;
			margin-right: 190px;
			background-color: #cccccc;
		}
		.letra{
			font-size: 20px;
			margin-left: -50%;
			margin-top: 10%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 20px;
			margin-top: 5%;
			margin-left: 30%;
		}
		.mud4{
			width: 100px;
			height: 100px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 30px;
		height: 30px;
		margin-top: 42%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}


@media screen and (min-width: 2000px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 250px;
			height: 60px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 180px;
			margin-right: 180px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 20px;
		}
		.vamola{
			font-size: 20px;
			margin-left: 22%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 1000px;

		}
		.tras{
			margin-left: 6%;
		}


		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 190px;
			margin-right: 190px;
			background-color: #cccccc;
		}
		.frame{
			width: 800px;
			height: 600px; 
		}
		.tes{
		
			margin-top: 15%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 30px;
			margin-top: 5%;
			margin-left: -20%;
		}
		.letra{
			font-size: 30px;
			margin-left: -85%;
			margin-top: 15%;
		}
		.mud4{
			width: 100px;
			height: 100px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 30px;
		height: 30px;
		margin-top: 38%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}


@media screen and (min-width: 2100px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 280px;
			height: 70px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 180px;
			margin-right: 180px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 20px;
		}
		.vamola{
			font-size: 20px;
			margin-left: 25%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 1200px;

		}
		.tras{
			margin-left: -5%;
		}


		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}
		.frame{
			width: 800px;
			height: 600px; 
		}
		.tes{
		
			margin-top: 15%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 30px;
			margin-top: 5%;
			margin-left: -20%;
		}
		.letra{
			font-size: 30px;
			margin-left: -85%;
			margin-top: 15%;
		}
		.mud4{
			width: 100px;
			height: 100px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 30px;
		height: 30px;
		margin-top: 38%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}

@media screen and (min-width: 2400px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 280px;
			height: 70px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 4px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 180px;
			margin-right: 180px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 30px;
		}
		.vamola{
			font-size: 30px;
			margin-left: 17%
		}

		.vamola2{
			font-size: 40px;
		}
		.crescer{
			width: 1400px;

		}

		.tras{
			margin-left:  -15%
		}

		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}
		.frame{
			width: 800px;
			height: 600px; 
		}
		.tes{
		
			margin-top: 15%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 30px;
			margin-top: 5%;
			margin-left: -15%;
		}
		.letra{
			font-size: 30px;
			margin-left: -85%;
			margin-top: 20%;
		}
		.mud4{
			width: 100px;
			height: 100px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 30px;
		height: 30px;
		margin-top: 32%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}

@media screen and (min-width: 3000px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 300px;
			height: 100px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 4px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 300px;
			margin-right: 300px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 30px;
		}
		.vamola{
			font-size: 30px;
			margin-left: 27%
		}

		.vamola2{
			font-size: 50px;
		}
		.crescer{
			width: 1800px;

		}

		.tras{
			margin-left:  -30%
		}

		.lin{
			height: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}
		.frame{
			width: 1000px;
			height: 600px; 
		}
		.tes{
		
			margin-top: 15%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 50px;
			margin-top: 5%;
			margin-left: -150%;
		}
		.letra{
			font-size: 50px;
			margin-left: -200%;
			margin-top: 10%;
		}
		.mud4{
			width: 140px;
			height: 140px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 40px;
		height: 40px;
		margin-top: 32%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}

@media screen and (min-width: 3600px) {
		.mudar{
			margin: 0 auto;

		}
		.mud{
			width: 600px;
			height: 150px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 4px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 300px;
			margin-right: 300px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 50px;
		}
		.vamola{
			font-size: 50px;
			margin-left: 23%
		}

		.vamola2{
			font-size: 80px;
		}
		.crescer{
			width: 3000px;

		}

		.tras{
			margin-left:  -85%
		}

		.lin{
			height: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}
		.borda3{
			margin-left: -50%;
			border: 1px solid #cccccc;
			width: 200%;

			margin-top: 10%;
			margin-bottom: 10%;	
			border-radius: 5px;
			box-shadow: 5px 5px 10px 5px black;
		}
		.quem2{
			font-size: 80px;
		}

		.ajeita{
			text-align: justify;
			margin-left: 5%;
			margin-top: 5%;
			font-size: 50px;
		}
		.ajeita2{
			text-align: justify;
			margin-left: 5%;
			margin-top: 5%;
			margin-bottom: 5%;
			font-size: 50px;
		}

	.frame{
			width: 1500px;
			height: 1200px; 
		}
		.tes{
		
			margin-top: 15%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 80px;
			margin-top: 5%;
			margin-left: -150%;
		}
		.letra{
			font-size: 80px;
			margin-left: -180%;
			margin-top: 40%;
		}
		.mud4{
			width: 200px;
			height: 200px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 80px;
		height: 80px;
		margin-top: 32%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		
		margin-left: -30%;
	}
		}

@media screen and (min-width: 5000px) {
		.mudar{
			margin: 0 auto;

		}
		
		.mud{
			width: 800px;
			height: 200px;
			margin: 0 auto;
			margin-top: 10%;
		}
		

		.linha{
			height: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 500px;
			margin-right: 500px;
			background-color: #cccccc;
		}

		.tamanho2{
			width: 500%;
			height: 500%;
			margin: 0 auto;
		}
		.ajuste{
			text-align: center;
			color: white;
			font-size: 80px;
		}
		.vamola{
			font-size: 80px;

			margin-left: 20%
		}
		
		.vamola2{
			font-size: 80px;

			
		}
		.crescer{
			width: 3000px;

		}

		.tras{
			margin-left:  -85%
		}

		.lin{
			height: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 120px;
			margin-right: 120px;
			background-color: #cccccc;
		}
		.borda3{
			margin-left: -50%;
			border: 1px solid #cccccc;
			width: 200%;

			margin-top: 10%;
			margin-bottom: 10%;	
			border-radius: 5px;
			box-shadow: 5px 5px 10px 5px black;
		}
		.quem2{
			font-size: 80px;
		}

		.ajeita{
			text-align: justify;
			margin-left: 5%;
			margin-top: 5%;
			font-size: 50px;
		}
		.ajeita2{
			text-align: justify;
			margin-left: 5%;
			margin-top: 5%;
			margin-bottom: 5%;
			font-size: 50px;
		}
		.frame{
			width: 1500px;
			height: 1200px; 
		}
		.tes{
		
			margin-top: 15%;
		}
		.ajuste2{
			text-align: center;
			color: black;
			font-size: 80px;
			margin-top: 5%;
			margin-left: -150%;
		}
		.letra{
			font-size: 80px;
			margin-left: -180%;
			margin-top: 50%;
		}
		.mud4{
			width: 250px;
			height: 250px;
			margin: 0 auto;
			margin-top: 25%;
		}
		.seta{
		width: 100px;
		height: 100px;
		margin-top: 32%;
		margin-left: -30%;
	}
	.seta2{
		width: 100px;
		height: 100px;
		margin-left: -30%;
	}

	}
	

	


	


